<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Torneremo al più presto.</h1>
    <h2> Ci scusiamo per il disagio.</h2>

  </body>
</html>
