<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{getScreamIt welcomeMessage}}</p> <!-- è una f + un argomento getScreamIt(welcomeMessage)-->

    {{> footer}}
    {{> macchiaOlio}}
  </body>
</html>
