<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Projects</title>
  </head>
  <body>
    <h1>Page about my projects:</h1>
    <p>Link for my GitHub</p>
    <a href="https://github.com/AntonShanya"> Clicca qui </a>
    <p>Ciao Alessia Montaldo. TI amo <3 </p> <!-- è una f + un argomento getScreamIt(welcomeMessage)-->

  </body>
</html>
